<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title></title>
    <style>
       #map {
        height: 400px;
        width: 75%;
       }
    </style>
</head>
<body>
	<h1>Guess the Image!</h1>
	<h2 id="score">Score: 0 pts</h2>
	<img src="" id="image_to_guess">
	<div id="map"></div>
	<script>
	  window.onload = function () {
	  	updateImageToGuess();
	  }

	  function updateScore(newScore) {
	  	$("#score").text("Score: " + parseInt(newScore) + " pts");
	  }

	  function updateImageToGuess() {
	  	$.get("http://localhost:5000/get_guess", function(data, status){
	  		console.log("Hello")
	  		console.log(data.image_url);
	  	    $("#image_to_guess").attr("src",data.image_url);
	    });
	  }

      function initMap() {
        var myLatlng = {lat: 0, lng: 0};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: myLatlng
        });

        var marker = createMarker();

        google.maps.event.addListener(map, "click", function(event) {

           // Get lat lng coordinates
           // This method returns the position of the click on the map
           var lat = event.latLng.lat().toFixed(6);
           var lng = event.latLng.lng().toFixed(6);

           // Call createMarker() function to create a marker on the map
           createMarker(lat, lng);

           // getCoords() function inserts lat and lng values into text boxes
           getCoords(lat, lng);

        });

        // This function updates text boxes values.
        function getCoords(lat, lng) {
        	console.log(lat);
        	console.log(lng);

        	// $.post("",
        	// {
        	//     lat: lat,
        	//     lng: lng
        	// },
        	// function(data, status){
        		// updateScore(data.newScore);
        	// });
        }

        // Function that creates the marker
        function createMarker(lat, lng) {

           // The purpose is to create a single marker, so
           // check if there is already a marker on the map.
           // With a new click on the map the previous
           // marker is removed and a new one is created.

           // If the marker variable contains a value
           if (marker) {
              // remove that marker from the map
              marker.setMap(null);
              // empty marker variable
              marker = "";
           }

           // Set marker variable with new location
           marker = new google.maps.Marker({
              position: new google.maps.LatLng(lat, lng),
              draggable: true, // Set draggable option as true
              map: map
           });


           // This event detects the drag movement of the marker.
           // The event is fired when left button is released.
           google.maps.event.addListener(marker, 'dragend', function() {
              
              // Updates lat and lng position of the marker.
              marker.position = marker.getPosition();

              // Get lat and lng coordinates.
              var lat = marker.position.lat().toFixed(6);
              var lng = marker.position.lng().toFixed(6);

              // Update lat and lng values into text boxes.
              getCoords(lat, lng);

           });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiA9KnXAymSlOpdPEWDbYLRuHzYgdCWlE&callback=initMap">
    </script>
</body>
</html>